<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title><%=title%></title>
</head>

<body>
    <div>
        <p><%=message%></p>
        <p><%=hash%></p>
        <p><%=compare1%></p>
        <p><%=compare2%></p>
    </div>
</body>

</html>